<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body> 
  <%- include ('partials/header.ejs') %>
  <%- include ('partials/content.ejs') %>

<main class="container">
  <div class="jumbotron">
 
    <img src="/img/download.jpeg" alt="" style="width: 700px; height: 400px; float:none;">

    </div>
    </main>
  
</body>
<footer>
  <h4 class="display-6 navbar-text">Copyright -Munira Negash Hussien &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Student Number:301116861 
    <%- include ('partials/footer.ejs') %>
    <%- include ('partials/bottom.ejs') %>


</footer>
</html>
